.right-6{
    right: 1.5rem;
}
.right-7{
    right: 1.75rem;
}
.right-9{
    right: 2.25rem;
}
.right-16{
    right: 3.5rem;
}
.right-20{
    right: 5rem;
}
.right-24{
    left: 6rem;
}
.right-28{
    right: 7rem;
}
.right-32{
    right: 8rem;
}
.right-32{
    right: 8rem;
}
.pl-28{
    padding-left: 7rem;
}